body{
    font-family: poppins;
}
header{
    height: 900px;
    background: linear-gradient(-79deg,#f6b400 50%,#ffff 50%);
}
nav{
    display: flex;
}
nav img{
    height: 90px;
    margin-top: auto;
    margin-bottom: auto;
}
nav h1{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold
}
nav>h1>span{
    color: #f6b400;
}
nav button{
    height: 30px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}
ul{
    padding-left: 270px;
    padding-right: 120px;
}
ul :first-child a{
    border-bottom: 5px solid #f6b400;
}
li{
    display: inline-block;
    margin-top: 50px;
    padding-left: 80px;
}
nav :nth-child(4){
    height: 50px;
}
nav :nth-child(5){
    background-color: #f6b400;
    color: #ffff;
    margin-top: 20px;
    width: 30px;
    height: 30px; 
}
header>:nth-child(2)>img{
    height: 550px;
    float: right;
    padding-top: 40px;
    padding-right: 256px;
}

header>:nth-child(3){
    padding-top: 180px;
}
header>:nth-child(4){
    padding-left: 55px;
    line-height: 10px;
    padding-top: 10px;
    color: rgb(71, 10, 71);
}
header>:nth-child(5){
    padding-left: 90px;
    margin-top: 70px;
}
header>:nth-child(5)>button{
    height: 40px;
    width: 100px;
    border-radius: 30px 30px 0 30px;
    background-color: #f6b400;
    color: #ffff;
}

header>div>h2{
    padding-left: 50px;
    font-size: 30px;
    line-height: 20px;
}
.perks{
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;
    margin-top: 150px;
}

.perks>div>img{
    height: 150px;
    filter: invert(61%) sepia(82%) saturate(859%) hue-rotate(5deg) brightness(100%) contrast(103%);
}
#short{
    height: 360px;
    width: 360px;
    padding-top: 30px;
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
}
#center{
    height: 470px;
    width: 400px;
    padding-top: 30px;
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
}
