body{
    font-family: poppins;
}
header{
    height: 900px;
    background: linear-gradient(-79deg,#f6b400 50%,#ffff 50%);
}
main{
    background-color: white;
}
nav{
    display: flex;
}
nav img{
    height: 90px;
    margin-top: auto;
    margin-bottom: auto;
}
nav h1{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold
}
nav>h1>span{
    color: #f6b400;
}
nav button{
    height: 30px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}
ul{
    padding-left: 270px;
    padding-right: 120px;
}
ul :first-child a{
    border-bottom: 5px solid #f6b400;
}
li{
    display: inline-block;
    margin-top: 50px;
    padding-left: 80px;
}
nav :nth-child(4){
    height: 50px;
}
nav :nth-child(5){
    background-color: rgb(241, 77, 77);
    border:  rgb(241, 77, 77);
    position: relative;
    color: #ffff;
    margin-top: 20px;
    margin-right: 23px;
    width: 30px;
    height: 30px; 
}
header>:nth-child(2)>img{
    height: 550px;
    float: right;
    padding-top: 40px;
    padding-right: 256px;
}

header>:nth-child(3){
    padding-top: 180px;
}
header>:nth-child(4){
    padding-left: 55px;
    line-height: 10px;
    padding-top: 10px;
    color: rgb(71, 10, 71);
}
header>:nth-child(5){
    padding-left: 90px;
    padding-top: 150px;
}
header>:nth-child(5)>button{
    height: 40px;
    width: 100px;
    border: #f67700;
    border-radius: 30px 30px 0 30px;
    background-color: #f67700;
    color: #ffff;
}

header>div>h2{
    padding-left: 50px;
    font-size: 30px;
    line-height: 20px;
}
.perks{
    display: flex;
    justify-content: space-around;
    height: 640px;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #e1ebe6;
}

.perks>div>img{
    height: 150px;
    filter: invert(61%) sepia(82%) saturate(859%) hue-rotate(5deg) brightness(100%) contrast(103%);
}
#short{
    height: 360px;
    width: 360px;
    padding-top: 30px;
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
}
#center{
    height: 470px;
    width: 400px;
    padding-top: 30px;
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
}
#menu{
    padding-top: 100px;
    text-align: center;
}
#menu span{
    color: #f6b400;
}
/*Pseudo Element for menu*/
#menu:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 5%; 
    padding-top: 2px; 
    border-bottom: 8px solid #f67700;
}
.burger-top{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}
.burger-bottom{
    display: flex;
    justify-content: space-around;

}
#burger{
    height: 620px;
    width: 350px;
    padding-top: 40px;
    box-shadow: 2px 3px 10px 4px #e1ebe6;
    border-radius: 40px;
    text-align: center;
    overflow: hidden;
}
#burger img{
    height: 250px;
}
.rotate{
    transform: rotate(45deg);
    margin-left: 355px;
}
#new{
    position: absolute;
    padding-left: 56px;
    padding-right: 150px;
    margin-left: -115px;
    margin-right: -190px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: #f67700;
    color: #ffff;
    overflow: hidden;
    font-size: 20px;
}
#burger h2{
    color: rgb(53, 4, 53);
}
#burger button{
    height: 40px;
    width: 100px;
    margin: 8px 30px;
    border-radius: 10px;
    background-color: #e1ebe6;
    border: #e1ebe6;
}
#pm{
    color: green;
    font-size: 23px;
    padding: 10px;
}
#num{
    font-size: 23px;
}
#cart{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
#cart img{
    height: 45px;
    margin-right: 20px;
    padding : 5px 20px;
    border-radius: 13px;
    background-color: #e1ebe6;
    background-size: cover;
}
#cart h3{
    padding-left: 30px;
}
.double-burger{
    height: 900px;
    margin-top: 90px;
    background-color: #e1ebe6;
}
#text{
    padding: 160px 0 0 90px;
}
#text h1{
    line-height: 40px;
    font-size: 40px;
    font-weight: bolder;
}
#text>h1>span{
    color: #f67700;
}
#text img{
    height: 500px;
    float: right;
    margin-bottom: 300px;
    margin-right: 60px;
}
#text p{
    padding: 30px 0 150px 5px;
}
#circles{
    margin-left: 70px;
}
#circles :first-child{
    color: #f67700;
    background-color: #f67700;
}
#circles button{
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    background-color:grey;
    color: grey;
    margin-left: 40px;
}
#circles span{
    font-size: 110px;
    padding-left: 50px;
    color: #f67700;
}
.disc{
    display: flex;
    background: #f6b400;
    background-size: contain;
}
.phone{
    display: flex;
    padding: 50px;
    background: #f6b400;
}
.phone img{
    height: 600px;
    margin-right: 20px;
    margin-left: 60px;
}
#discover{
    padding: 170px 0 0 80px;
    line-height: 30px;
}
#apps{
    display: flex;
}
#apps :first-child{
    height: 80px;
    padding-top: 100px;
}
#apps :nth-child(2){
    height: 53px;
    padding-top: 113px;
}

.footer-1{
    display: flex;
    justify-content: space-between;
}
#logo h2{
    display: inline-flex;
}